altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
fbs==0.9.0
future==0.18.2
idna==2.10
macholib==1.14
numpy==1.20.1
pandas==1.2.2
pefile==2019.4.18
pyinstaller @ https://github.com/pyinstaller/pyinstaller/tarball/develop
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
urllib3==1.26.3
